<ng-template #modalData let-modal>
  <div class="modal-header">
    <h4 *ngIf="!elementDeleted" class="modal-title" id="modal-basic-title"> {{ element.nom.length ? 'Edit' : 'Add' }} {{ type }}</h4>
    <h4 *ngIf="elementDeleted" class="modal-title" id="modal-basic-title"> Delete {{ type }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click');">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body">
      <div *ngIf="!elementDeleted">
        <div class="form-group">
            <label>Nom</label>
            <input #nom [value]="element.nom" type="text" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Prenom</label>
            <input #prenom [value]="element.prenom" type="text" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Email</label>
            <input #email [value]="element.email" type="email" class="form-control" required>
        </div>
        <div class="form-group">
            <label>Phone</label>
            <input #phone [value]="element.phone" type="text" class="form-control" required>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button> 
            <button *ngIf="!elementDeleted" type="button" class="btn btn-primary"
            (click)="save(nom.value, prenom.value, email.value, phone.value); modal.close('Ok click')">
            Save
             </button>
             <button *ngIf="elementDeleted" type="button" class="btn btn-success"
             (click)="deleteP(); modal.close('Ok click')">
             Delete
              </button>
        </div>
      </div>
      <div *ngIf="elementDeleted">
        <p><strong>Are you sure you want to delete <span class="text-primary">"{{elementDeleted.nom + ' ' + elementDeleted.prenom }}"</span> profile?</strong></p>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="modal.close('Save click')">Close</button> 
             <button *ngIf="elementDeleted" type="button" class="btn btn-success"
             (click)="deleteP(); modal.close('Ok click')">
             Delete
              </button>
        </div>
      </div>
  </div>
</ng-template>