  <app-sidebar></app-sidebar>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <i class='bx bx-menu sidebarBtn'></i>
        <span class="dashboard">Dashboard</span>
      </div>
      
      <div class="profile-details">
      <img [src]="this.src" width="50" alt="" >
        <span class="admin_name">Dr {{ user.nom}} </span>
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>


    <div class="home-content" >
      <div class="overview-boxes">
        <div class="box" *ngFor="let malade of this.user.malades">
            <div class="right-side text-center cursor-pointer"
            [routerLink]="'/traitementMalade'"  [queryParams]="{malade_id: malade._id}"  >
              <div class="box-topic"> {{ malade.nom}}</div>
              <img [src]="malade.icon" alt=""width="90" height="70" border-radius=" 8px">
              <div class="number mx-1"> {{ malade.nbPatient }} </div>
            </div>
        </div>     
      </div>
      <div class="home-content">
      <div class="sales-boxes">
        <div class="recent-sales box">
          <div class="title">Mes patients</div>
          <div class="sales-details">
            <ul class="details">
                <li class="topic">Date</li>
                <li *ngFor="let consult of mesPatients">{{ consult.date | dateFormat }}</li>
             </ul>
            <ul class="details">
                <li class="topic">Nom patients</li>
                <li *ngFor="let patient of mesPatients">{{ patient.patient.nom}} {{ patient.patient.prenom}}</li>
             </ul>
          <ul class="details">
            <li class="topic">Secteur</li>
            <li *ngFor="let malade of mesPatients"> {{ malade.malade.nom }} </li>
          </ul>
          </div>
          <div class="button">
            <a href="#">See All</a>
          </div>
        </div>
        <div class="top-sales box">
          <div class="title">Derniere Consultations</div>
          <ul class="top-sales-details">
           <li *ngFor="let patient of mesPatients">
            <a href="#">
              <img src="../../../../assets/imgs/avatar.jpg" width="50" alt="">
              <span class="product">{{ patient.patient.nom }}  {{ patient.patient.prenom }}</span>
            </a>
            <span (click)="downloadRapport()" class="price cursor-pointer text-info">RAPPORT</span>
            <app-pdf
            hidden style="opacity: 0; position: absolute;"
            *ngIf="download" [doctorName]="user.nom + ' ' + user.prenom"
            [patientName]="patient.patient.nom + ' ' + patient.patient.prenom"
            ></app-pdf>
          </li>
          </ul>
        </div>
      </div>

    </div>
  



