<div class="sidebar">
    <div class="logo-details">
      <i class='bx bxl-c-plus-plus'></i>
      <span class="logo_name">Tabibi </span>
    </div>
      <ul class="nav-links">
        <li>
          <a [routerLink]="'/dash'" routerLinkActive="active">
            <i class='bx bx-grid-alt' ></i>
            <span class="links_name">Dashboard</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/patients'"  routerLinkActive="active">
            <i class='bx bx-box' ></i>
            <span class="links_name">Les Patients</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/pharmacie'" routerLinkActive="active">
            <i class='bx bx-list-ul' ></i>
            <span class="links_name">Pharmacie</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/traitementMalade'" routerLinkActive="active">
            <i class='bx bx-pie-chart-alt-2' ></i>
            <span class="links_name">Traitement</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/profile'" routerLinkActive="active">
            <i class='bx bx-coin-stack' ></i>
            <span class="links_name">Mon Profil</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/biblio'" routerLinkActive="active">
            <i class='bx bx-book-alt' ></i>
            <span class="links_name">Ma biblio</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/team'" routerLinkActive="active">
            <i class='bx bx-user' ></i>
            <span class="links_name">Team</span>
          </a>
        </li>
        <li>
          <a [routerLink]="'/messages'" routerLinkActive="active">
            <i class='bx bx-message' ></i>
            <span class="links_name">Messages</span>
          </a>
        </li>
        <li class="log_out position-static" >
          <a href="#">
            <i class='bx bx-log-out'></i>
            <span class="links_name">Log out</span>
          </a>
        </li>
      </ul>
  </div>