<app-sidebar></app-sidebar>
  <section class="home-section">
    <nav>
      <div class="sidebar-button">
        <span class="dashboard">Biblio</span>
      </div>
      
      <div class="profile-details">
      <img src="../../../../assets/imgs/h1.jpg" alt="" >
        <span class="admin_name">Dr {{ user.nom}} </span>
        <i class='bx bx-chevron-down' ></i>
      </div>
    </nav>


    <div class="home-content" >
        <div class="container">
            <div class="row w-100 px-5 pb-4">
                <div *ngFor="let file of files" class="card col-2 text-center d-block py-2" style="background-color: transparent; border: none">
                    <img src="../../../../assets/imgs/pdf.png"   style="width: 100px!important;"  >
                    <div class="card-body py-2">
                      <span class="card-title p-2"> {{ file.name | Resume: 30}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="Neon Neon-theme-dragdropbox" >
            <input accept = "application/pdf" #file hidden multiple (change)="FileSelected($event.target)" class="file" name="files[]" id="filer_input2" type="file">
            <div (click)="file.click()" class="Neon-input-dragDrop" style="max-width: 540px;">
                <div class="Neon-input-inner">
                    <div class="Neon-input-icon">
                        <i class="far fa-file-image"></i>
                    </div>
                    <div class="Neon-input-text">
                        <h3>Drag&amp;Drop files here</h3>
                        <span style="display:inline-block; margin: 15px 0">or</span>
                    </div>
                    <a class="Neon-input-choose-btn blue">Browse Files</a>
                </div>
            </div>
        </div>
</div>
  



